{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/new.css' %}">
<br><br>
    <body>
        <div class="container">
            <form action = "{% url 'create' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" name="title"></textarea>
                    <label for="textarea2">제목</label>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" name="body"></textarea>
                    <label for="textarea2">본문</label>
                    </div>
                </div>
                <br><br>
                <button class="btn waves-effect waves-light" type="submit" value="제출하기">Submit <i class="material-icons right">send</i></button>
            </form>

{% endblock %}