<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>rlarms0blog</title>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Import materialize.css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="home"><a href="{% url 'home' %}"><i class="material-icons">home</i></a></li>
                    <li class="portfolio">
                        <a href="{% url 'portfolio' %}">
                            <i id="object" class= "material-icons">folder_open</i>
                        </a>
                    </li>       
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li class="welcome"><a class="nav-link" style="color:white;">{{ user.username}}님! 환영합니다 </a></li>
                        <li class="logout"><a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a></li>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %} <input type="hidden" />
                        </form>
                    {% else %}
                        <li class="login"><a class="nav-link" href="{% url 'login' %}"><i class ="material-icons">lock</i></a></li>
                        <li class="signup"><a class="nav-link" href="{% url 'signup' %}"><i class ="material-icons">person_add</i></a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        <div class="album py-5">
                <div class="container">
                    <div class="row">
                    {% for portfolio in portfolios.all %}
                        <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ portfolio.image.url }}" alt=" Card image cap">
                            <div class="card-body">
                            <h4>{{ portfolio.title }}</h4>
                            <p class="card-text">{{ portfolio.description }}</p>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                </div>
                    <br><br>
                    <a href="{% url 'upload' %}" class="btn-floating btn-large waves-effect waves"><i class="material-icons right">create_new_folder
                    </i></a>

            

    </body>
</html>